[Unit]
Description=DisplayLink Manager Service
After=display-manager.service

[Service]
ExecStartPre=/sbin/modprobe evdi
ExecStart=/opt/displaylink/DisplayLinkManager
Restart=always
RestartSec=5
WorkingDirectory=/opt/displaylink

[Install]
WantedBy=graphical.target
